language: minimal

services:
  - docker

jobs:
  include:
    - stage: 1
      script: docker run --rm -w /root/toolchains -v `pwd`:/root/toolchains -e CCACHE_DIR=/root/toolchains/ccache-arm -e CCACHE_MAXSIZE=1G -e TRIPLET=arm-any32-linux-musleabi dimkr/toolchains ./build-toolchain.sh
      name: ARM (little endian)
      deploy:
        provider: releases
        api_key:
          secure: GlIAAfCP2jy8Y6IDQXpJYYrccDhuWothdwrjxXsn12Gzq9R/kvSJrL4tsM6g7ZXiGAK6zJCySl7nJcjLuOFNANmMvzMav9jGRPzLls/qmLohH2HPb7iqEbzWt37UZx9llIz6PIwtCICvOSq8CAfICbtxv5tua1zBFWn0ncC9EDa86G+2Mvll+xF6pjstYihjfMWC/mhfisOKN7GDjpP845bmQJR1WBClha+mqNVDa18jScZySsNWmk/zOPD1/y5Sq357FqlLr31Cvu+7baQVe9XPSMR2UdaeQ870fFlwdklMcneVxOmK6eUkPfzGWxqZqtr9MQMnrIijaWPZjCpnhUZkon4ai+jvpjdtdXb7A3Mzw6s7FcMx7DvNVCvvK2MTB3jDWanW3xU64beEHW3/zGm3UvoAdfb7swlB8nZLthAyaNonwQINVsQRzwd79wyZwKBu1bRy+N6jX1/10+RspBOwylvqHfHzTtmykX4gzbkNaf4G8fafQ+/GjouOF4ysj4Jn/D8jYRbWVI35UwZgjmrJDO48+sEcdydyE+gDphps2Tke1OpzdxkCOuYwaYqogJA1LrmTaKbG++dI7r1abn1FZRKVi4yGZ/skmKQnBde8CZ7mC7rSTU0zDxXbx06MCspeJh+IYQL33eW5+46lAm9MWKVYhEnrzA5aJSCC3pI=
        skip_cleanup: true
        file: arm-any32-linux-musleabi.tar.gz
        on:
          repo: dimkr/toolchains
    - script: docker run --rm -w /root/toolchains -v `pwd`:/root/toolchains -e CCACHE_DIR=/root/toolchains/ccache-mips -e CCACHE_MAXSIZE=1G -e TRIPLET=mips-any32-linux-musl dimkr/toolchains ./build-toolchain.sh
      name: "MIPS1 (big endian)"
      deploy:
        provider: releases
        api_key:
          secure: GlIAAfCP2jy8Y6IDQXpJYYrccDhuWothdwrjxXsn12Gzq9R/kvSJrL4tsM6g7ZXiGAK6zJCySl7nJcjLuOFNANmMvzMav9jGRPzLls/qmLohH2HPb7iqEbzWt37UZx9llIz6PIwtCICvOSq8CAfICbtxv5tua1zBFWn0ncC9EDa86G+2Mvll+xF6pjstYihjfMWC/mhfisOKN7GDjpP845bmQJR1WBClha+mqNVDa18jScZySsNWmk/zOPD1/y5Sq357FqlLr31Cvu+7baQVe9XPSMR2UdaeQ870fFlwdklMcneVxOmK6eUkPfzGWxqZqtr9MQMnrIijaWPZjCpnhUZkon4ai+jvpjdtdXb7A3Mzw6s7FcMx7DvNVCvvK2MTB3jDWanW3xU64beEHW3/zGm3UvoAdfb7swlB8nZLthAyaNonwQINVsQRzwd79wyZwKBu1bRy+N6jX1/10+RspBOwylvqHfHzTtmykX4gzbkNaf4G8fafQ+/GjouOF4ysj4Jn/D8jYRbWVI35UwZgjmrJDO48+sEcdydyE+gDphps2Tke1OpzdxkCOuYwaYqogJA1LrmTaKbG++dI7r1abn1FZRKVi4yGZ/skmKQnBde8CZ7mC7rSTU0zDxXbx06MCspeJh+IYQL33eW5+46lAm9MWKVYhEnrzA5aJSCC3pI=
        skip_cleanup: true
        file: mips-any32-linux-musl.tar.gz
        on:
          repo: dimkr/toolchains
    - stage: 2
      script:
        - patch config-arm-any32-linux-musleabi -o config-armeb-any32-linux-musleabi < arm-armeb.diff
        - docker run --rm -w /root/toolchains -v `pwd`:/root/toolchains -e CCACHE_DIR=/root/toolchains/ccache-armeb -e CCACHE_MAXSIZE=1G -e TRIPLET=armeb-any32-linux-musleabi dimkr/toolchains ./build-toolchain.sh
      name: ARM (big endian)
      deploy:
        provider: releases
        api_key:
          secure: GlIAAfCP2jy8Y6IDQXpJYYrccDhuWothdwrjxXsn12Gzq9R/kvSJrL4tsM6g7ZXiGAK6zJCySl7nJcjLuOFNANmMvzMav9jGRPzLls/qmLohH2HPb7iqEbzWt37UZx9llIz6PIwtCICvOSq8CAfICbtxv5tua1zBFWn0ncC9EDa86G+2Mvll+xF6pjstYihjfMWC/mhfisOKN7GDjpP845bmQJR1WBClha+mqNVDa18jScZySsNWmk/zOPD1/y5Sq357FqlLr31Cvu+7baQVe9XPSMR2UdaeQ870fFlwdklMcneVxOmK6eUkPfzGWxqZqtr9MQMnrIijaWPZjCpnhUZkon4ai+jvpjdtdXb7A3Mzw6s7FcMx7DvNVCvvK2MTB3jDWanW3xU64beEHW3/zGm3UvoAdfb7swlB8nZLthAyaNonwQINVsQRzwd79wyZwKBu1bRy+N6jX1/10+RspBOwylvqHfHzTtmykX4gzbkNaf4G8fafQ+/GjouOF4ysj4Jn/D8jYRbWVI35UwZgjmrJDO48+sEcdydyE+gDphps2Tke1OpzdxkCOuYwaYqogJA1LrmTaKbG++dI7r1abn1FZRKVi4yGZ/skmKQnBde8CZ7mC7rSTU0zDxXbx06MCspeJh+IYQL33eW5+46lAm9MWKVYhEnrzA5aJSCC3pI=
        skip_cleanup: true
        file: armeb-any32-linux-musleabi.tar.gz
        on:
          repo: dimkr/toolchains
    - script:
        - patch config-mips-any32-linux-musl -o config-mipsel-any32-linux-musl < mips-mipsel.diff
        - docker run --rm -w /root/toolchains -v `pwd`:/root/toolchains -e CCACHE_DIR=/root/toolchains/ccache-mipsel -e CCACHE_MAXSIZE=1G -e TRIPLET=mipsel-any32-linux-musl dimkr/toolchains ./build-toolchain.sh
      name: "MIPS1 (little endian)"
      deploy:
        provider: releases
        api_key:
          secure: GlIAAfCP2jy8Y6IDQXpJYYrccDhuWothdwrjxXsn12Gzq9R/kvSJrL4tsM6g7ZXiGAK6zJCySl7nJcjLuOFNANmMvzMav9jGRPzLls/qmLohH2HPb7iqEbzWt37UZx9llIz6PIwtCICvOSq8CAfICbtxv5tua1zBFWn0ncC9EDa86G+2Mvll+xF6pjstYihjfMWC/mhfisOKN7GDjpP845bmQJR1WBClha+mqNVDa18jScZySsNWmk/zOPD1/y5Sq357FqlLr31Cvu+7baQVe9XPSMR2UdaeQ870fFlwdklMcneVxOmK6eUkPfzGWxqZqtr9MQMnrIijaWPZjCpnhUZkon4ai+jvpjdtdXb7A3Mzw6s7FcMx7DvNVCvvK2MTB3jDWanW3xU64beEHW3/zGm3UvoAdfb7swlB8nZLthAyaNonwQINVsQRzwd79wyZwKBu1bRy+N6jX1/10+RspBOwylvqHfHzTtmykX4gzbkNaf4G8fafQ+/GjouOF4ysj4Jn/D8jYRbWVI35UwZgjmrJDO48+sEcdydyE+gDphps2Tke1OpzdxkCOuYwaYqogJA1LrmTaKbG++dI7r1abn1FZRKVi4yGZ/skmKQnBde8CZ7mC7rSTU0zDxXbx06MCspeJh+IYQL33eW5+46lAm9MWKVYhEnrzA5aJSCC3pI=
        skip_cleanup: true
        file: mipsel-any32-linux-musl.tar.gz
        on:
          repo: dimkr/toolchains

before_deploy:
  - git config --local user.name "Dima Krasner"
  - git config --local user.email dima@dimakrasner.com
  - git tag -f $TRAVIS_BRANCH-$(git log --format=%h -1)

cache:
  directories:
    - src
    - ccache-arm
    - ccache-mips
    - ccache-armeb
    - ccache-mipsel
